body{
    background-image: url("https://images.unsplash.com/photo-1537905569824-f89f14cceb68?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=702&q=80");
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}
header{
    margin-top: 1px;
    height: 12vh;
    max-width: 100vw;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#local{
    margin-right: 2px;
    display: flex;
    flex-direction:column;


}
#logo{
    margin-left: 2px;
    height:12vh;
    width: 15vw;
}
#search_bar{
    margin-top: 1px;
    height: 6vh;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
label{
    color: white;
}
#login_form{

    margin-top: 1px;
    height: 75vh;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}

footer{
    margin-top: 1px;
    max-height: 20vh;
    max-width: 100vw;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.carousel-inner img {
    margin: auto;
  }
p, h6{
    margin: 1px;
}
#icons{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    justify-content:space-between
    
}
/* styles for About Us Page */
#meet_the_team {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: aliceblue;  
}
.profiles_row{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;

}
.profile_img{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;
}
h2{
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.profile_img:hover{
    opacity: 0.8;
}

.col-md-3{
    display: flex;
    flex-direction: column;
}
ul{
    list-style: none;
}
.modal-header{
    background-color: burlywood;
}
.modal-body{
    background-color: rgb(54, 137, 54);
}
#body{
    height: 75vh;
}
a:link, a:visited {
    color: black;
}